.logo
    width: 10rem

.bi-airplane-engines
    font-size: 2rem

.nav-button::after
    content: ""
    display: block
    margin: 0 auto
    margin-top: 5px
    width: 0
    height: 1px
    background: white
    transition: width 0.2s ease-in-out

.nav-button:hover:after
    width: 2rem